# ------------------------- UV -------------------------
# uv venv -p 3.14
# uv pip install -r requirements.txt
# uv add -r requirements.txt
# uv run main.py    # Run main.py using uv

# ------------------------- Pre-commit -------------------------
# uv run pre-commit install
# uv run pre-commit run --files class.ipynb
# uv run pre-commit run --all-files
# git commit -m 'commit msg' --no-verify

# ------------------------- Pip -------------------------
# uv pip tree
# uv pip tree --depth 0
# uv pip tree --depth 0 --outdated
# uv pip list --outdated

# ------------------------- Python -------------------------
# uv run python
# uv run -p 3.9 python
# uv run python main.py
# uv run python -m pip install --upgrade pip

# Base dependencies
openai==3.22.1
requests==2.34.2
python-dotenv==1.2.3
beautifulsoup4==4.15.0

# Dev dependencies
ruff==0.16.9
ipykernel==7.4.0
pre-commit==4.6.2
mdformat==1.0.0
